
  <br>
  <br><br>
  <button (click)="open(content)" class="btn btn-success"> Ajouter</button>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color:crimson;"> Ajouter une adoption </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body" style="height: 650px; width:500px;">
          <form [formGroup]="addForm">
    
        
   
  
            <div class="form-group">
                <label class="form-label">Animal</label>
                <select class="form-select" formControlName="animal">
                    <option [value]="animal.id" *ngFor="let animal of listAnimals"> {{animal.id}} - {{animal.nom}}</option>
                </select>
              </div>
              <br><br><br><br>
              <input formControlName="dateAdoption" disabled>
  <br>
              <button type="submit" class="btn btn-primary">Ajouter</button>
  
            </form>
        </div>
   
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  
